.header {
  background-color: #00aaff; /* Sample color, you can choose your own */
  padding: 20px;
  text-align: center;
  font-size: 36px;
  color: white;
}

body {
  justify-content: center;
  align-items: flex-start;
}
